<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="miniprogram.server.mapper.ComProvincialMapper" >
  <resultMap id="BaseResultMap" type="miniprogram.server.beans.ComProvincial" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="Provincial" property="provincial" jdbcType="VARCHAR" />
  </resultMap>
</mapper>