<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="miniprogram.server.mapper.OrganizationMapper" >
  <resultMap id="BaseResultMap" type="miniprogram.server.beans.Organization" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="corpname" property="corpname" jdbcType="VARCHAR" />
    <result column="corpname_full" property="corpnameFull" jdbcType="VARCHAR" />
    <result column="access_type" property="accessType" jdbcType="VARCHAR" />
    <result column="template_code" property="templateCode" jdbcType="VARCHAR" />
    <result column="corp_code" property="corpCode" jdbcType="VARCHAR" />
    <result column="type_corpname" property="typeCorpname" jdbcType="VARCHAR" />
    <result column="type_username" property="typeUsername" jdbcType="VARCHAR" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="add_date" property="addDate" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>