<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="miniprogram.server.mapper.WxMpBindInfoMapper" >
  <resultMap id="BaseResultMap" type="miniprogram.server.beans.WxMpBindInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="wx_uid" property="wxUid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="isbind" property="isbind" jdbcType="INTEGER" />
    <result column="bind_date" property="bindDate" jdbcType="TIMESTAMP" />
    <result column="unbind_date" property="unbindDate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
</mapper>